.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  margin-top: 15px;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 319px) and (max-height: 319px) {
 button {
   border-radius: 50% !important;
   font-size: 0 !important;
   margin-top: 10px !important;
   height: 70px !important;
   width: 70px !important;
 }

 button svg {
   margin: 0 !important;
 }

 footer {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
 }
}